@import '../../main.css';

.focus-monitor,
.focus-trap {
  display: grid;
  gap: var(--line-height);
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  margin-block-start: var(--line-height);
  border-radius: var(--border-radius);
}

.panel {
  --color-bg: var(--theme-bg-l);
  padding: var(--line-height);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
}

.panel > .panel {
  margin-block-start: var(--line-height);
}

.panel:focus {
  --color-bg: var(--theme-bg-hc);
  border-color: transparent;
}

.panel:focus-within {
  --color-bg: var(--theme-bg-hc);
}

.output {
  --color-bg: var(--theme-bg-l);
  grid-column: 1 / 3;
  padding: var(--line-height);
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
}

/* FocusTrap */

.focus-trap h3 {
  grid-column: 1 / 3;
}

.focus-trap .panel {
  display: flex;
  flex-direction: column;
  gap: var(--grid-size);
  border: none;
}

.attach-focus-trap {
  align-self: start;
}
