# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VSCode settings
.vscode

# Build and test output
node_modules/
coverage/
dist/
temp/

src/elements/dialog
demo/elements/dialog
demo/elements/market-selector
