@import '../../main.css';
/* when using components, we should always include the component base styles */
@import '../../../src/elements/panel-container/panel-container.css';
@import '../../../src/elements/wizard/wizard.css';

.highlight {
  padding: var(--line-height);
  background-color: var(--theme-bg-l);
  border-radius: var(--border-radius);
}

/* customizing the wizard */

ui-wizard {
  --offest: 50%;
}

ui-wizard .widget {
  display: flex;
  flex-direction: column;
  gap: var(--grid-size-l);
  padding: var(--line-height);
  background-color: var(--theme-bg-l);
  border-radius: var(--border-radius);
}
ui-wizard .widget .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--grid-size);
}

ui-wizard .step-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ui-wizard .step-panel.ui-animate-out {
  transition-delay: calc(var(--transition-duration) / 2);
}
