ui-tooltip:not(:defined) {
  display: none;
}

ui-tooltip {
  --color-fg: var(--theme-fg-hc);
  --color-bg: var(--theme-bg-hc);
  display: flex;
  flex-direction: column;
  gap: var(--grid-size);
  position: absolute;
  z-index: 1000;
  max-width: min(calc(100vw - var(--line-height) * 2), calc(var(--grid-size) * 32)) !important;
  padding: var(--grid-size) var(--line-height);
  font-size: var(--font-size-s);
  font-weight: normal;
  white-space: normal;
  color: var(--color-fg);
  text-align: left;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  box-shadow: var(--shadow-l);
}

ui-tooltip * {
  margin: 0;
}

/* optional animations */

ui-tooltip.ui-invisible {
  transform: translateY(var(--line-height)) !important;
}

ui-tooltip.ui-animate-in,
ui-tooltip.ui-animate-out {
  pointer-events: none;
  transition-property: opacity, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
