ui-icon {
  flex: 0 0 auto;
  display: inline-block;
  width: var(--line-height);
  height: var(--line-height);
  vertical-align: top;
}

ui-icon svg {
  width: 100%;
  height: 100%;
  overflow: visible;
  fill: currentColor;
}
