.ui-overlay {
  position: absolute;
  overflow: auto;
  contain: content;
  will-change: top, left, right, bottom;
  background-color: var(--color-bg);
}

.ui-check-layout {
  opacity: 0;
  pointer-events: none;
}

.ui-invisible {
  opacity: 0;
  pointer-events: none;
}

.ui-visible {
  opacity: 1;
  pointer-events: all;
}

.ui-overlay[hidden] {
  display: none;
}
