@import '../../main.css';
@import '../../../src/behaviors/scroll-table/scroll-table.css';

th, td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

th,
table.ui-scroll-table.ui-vertical thead tr::after {
  padding-bottom: calc(var(--grid-size) - var(--border-width));
  border-bottom: var(--border-width) solid var(--border-color);
}

.ui-scroll-table-area {
  --border-width: 1px;
  --border-color: var(--theme-bg-l);
  --scrollbar-width: var(--grid-size-l);
  --header-bg-color: var(--color-bg);
  margin-block-start: var(--line-height);
  max-width: calc(var(--line-height) * 45);
  height: calc((var(--line-height) + var(--grid-size) * 2) * 4 + var(--scrollbar-width));
}

/* border table styles */

.ui-scroll-table-area.borders {
  border: var(--border-width) solid var(--border-color);
}

.ui-scroll-table-area.borders table {
  border-collapse: separate;
  /* this is only necessary if we want the fade-in/out overlays on the header */
  position: relative;
}

.ui-scroll-table-area.borders th,
.ui-scroll-table-area.borders td {
  padding: var(--grid-size) calc(var(--grid-size) * 2);
}

.ui-scroll-table-area.borders th,
.ui-scroll-table-area.borders table.ui-scroll-table.ui-vertical thead tr::after {
  background-color: var(--header-bg-color);
}

.ui-scroll-table-area.borders th:not(:last-child),
.ui-scroll-table-area.borders td:not(:last-child) {
  border-right: var(--border-width) solid var(--border-color);
}

.ui-scroll-table-area.borders th,
.ui-scroll-table-area.borders tr:not(:last-child) td {
  padding-bottom: calc(var(--grid-size) - var(--border-width));
  border-bottom: var(--border-width) solid var(--border-color);
}

/* table header fade-in/out */

.ui-scroll-table-area.borders table.ui-scroll-table thead::before,
.ui-scroll-table-area.borders table.ui-scroll-table thead::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--grid-size) * 2);
  height: calc(var(--line-height) + var(--grid-size) * 2 - var(--border-width));
  background-image: linear-gradient(to right, var(--header-bg-color), transparent);
}

.ui-scroll-table-area.borders table.ui-scroll-table thead::after {
  left: auto;
  right: 0;
  background-image: linear-gradient(to left, var(--header-bg-color), transparent);
}
