body {
  padding: var(--line-height);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child),
p:not(:first-child) {
  margin-block-start: var(--line-height);
}

h1 {
  font-size: var(--font-size-xxxl);
  line-height: var(--line-height-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
}

h3 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

h4 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

ul {
  list-style: none;
}

code {
  display: inline-block;
  padding-inline: var(--grid-size-s);
  background-color: var(--theme-tint-lc);
  border-radius: var(--border-radius-s);
}

.container {
  margin-block-start: var(--line-height);
}

.horizontal {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--line-height);
  align-items: flex-start;
}

.vertical {
  display: flex;
  flex-flow: column;
  gap: var(--line-height);
}

.half > * {
  flex-basis: 50%;
}

.third > * {
  flex-basis: 33.333%;
}
